@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-display: 'Urbanist', sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary:#8DFF69;
}

@layer base {
  html {
    font-family: var(--font-display);
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #FFFFFF;
    overflow-x: hidden;
  }

  /* Custom Scrollbar*/
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #0A0A0A;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #8DFF69, #6FE047);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #A8FF8D, #5BC92E);
  }

  /* Firefox Scrollbar */

  * {
    scrollbar-width: thin;
    scrollbar-color: #6FE047 #0A0A0A;
  }

  /* Hide Scrollbar for Carousel */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 

  .hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  } 
  
  
  /* Animation keyframes */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }  

  }
}